<div class="logo-widget {{ .size }}-logo-widget d-flex justify-content-center">
    <div class="letter-block-p">
        <div class="face front btn rounded-circle bg-{{ .bgColor }} z-depth-0">&nbsp;</div>
        <div class="face back btn rounded-circle  z-depth-0 m-auto logo-letter text-{{ .textColor }}">p</div>
    </div>
    <div class="letter-block-d">
        <div class="face front btn rounded-circle bg-{{ .bgColor }} z-depth-0">&nbsp;</div>
        <div class="face back btn rounded-circle  z-depth-0 m-auto text-{{ .textColor }}">d</div>
    </div>
    <div class="letter-block-c">
        <div class="face front btn rounded-circle bg-{{ .bgColor }} z-depth-0">&nbsp;</div>
        <div class="face back btn rounded-circle  z-depth-0 m-auto text-{{ .textColor }}">c</div>
    </div>
    <div class="letter-block-a">
        <div class="face front btn rounded-circle bg-{{ .bgColor }} z-depth-0">&nbsp;</div>
        <div class="face back btn rounded-circle  z-depth-0 m-auto text-{{ .textColor }}">a</div>
    </div>
    <div class="h-100 w-100 d-flex justify-content-center logo-strap">
        <span class="align-self-end text-{{ .strapColor }}">software</span>
    </div>
</div>