
/**********************************************
Min Heights to extend BS
**********************************************/
    
    .gr-minh-100,
    .gr-minh-xs-100 {
        min-height: 100vh!important;
    }
    
    .gr-minh-75,
    .gr-minh-xs-75 {
        min-height: 75vh!important;
    }
    
    .gr-minh-twothirds,
    .gr-minh-xs-twothirds {
        min-height: 66.7vh!important;
    }
    
    .gr-minh-60,
    .gr-minh-xs-60 {
        min-height: 60vh!important;
    }
    
    .gr-minh-50,
    .gr-minh-xs-50 {
        min-height: 50vh!important;
    }
    
    .gr-minh-40,
    .gr-minh-xs-40 {
        min-height: 40vh!important;
    }

    .gr-minh-35,
    .gr-minh-xs-35 {
        min-height: 35vh!important;
    }

    .gr-minh-30,
    .gr-minh-xs-30 {
        min-height: 30vh!important;
    }
    
    .gr-minh-25,
    .gr-minh-xs-25 {
        min-height: 25vh!important;
    }
    
    @media only screen and (min-width: 576px) {
        .gr-minh-sm-100 {
            min-height: 100vh!important;
        }
        .gr-minh-sm-75 {
            min-height: 75vh!important;
        }
        .gr-minh-sm-twothirds {
            min-height: 66.7vh!important;
        }
        .gr-minh-sm-60 {
            min-height: 60vh!important;
        }
        .gr-minh-sm-50 {
            min-height: 50vh!important;
        }
        .gr-minh-sm-35 {
            min-height: 35vh!important;
        }
        .gr-minh-sm-25 {
            min-height: 25vh!important;
        }
    }
    
    @media only screen and (min-width: 768px) {
        .gr-minh-md-100 {
            min-height: 100vh!important;
        }
        .gr-minh-md-75 {
            min-height: 75vh!important;
        }
        .gr-minh-md-twothirds {
            min-height: 66.7vh!important;
        }
        .gr-minh-md-60 {
            min-height: 60vh!important;
        }
        .gr-minh-md-50 {
            min-height: 50vh!important;
        }
        .gr-minh-md-35 {
            min-height: 35vh!important;
        }
        .gr-minh-md-25 {
            min-height: 25vh!important;
        }
    }
    
    @media only screen and (min-width: 992px) {
        .gr-minh-lg-100 {
            min-height: 100vh!important;
        }
        .gr-minh-lg-75 {
            min-height: 75vh!important;
        }
        .gr-minh-lg-twothirds {
            min-height: 66.7vh!important;
        }
        .gr-minh-lg-60 {
            min-height: 60vh!important;
        }
        .gr-minh-lg-50 {
            min-height: 50vh!important;
        }
        .gr-minh-lg-35 {
            min-height: 35vh!important;
        }
        .gr-minh-lg-25 {
            min-height: 25vh!important;
        }
    }
    
    @media only screen and (min-width: 1200px) {
        .gr-minh-xl-100 {
            min-height: 100vh!important;
        }
        .gr-minh-xl-75 {
            min-height: 75vh!important;
        }
        .gr-minh-xl-twothirds {
            min-height: 66.7vh!important;
        }
        .gr-minh-xl-60 {
            min-height: 60vh!important;
        }
        .gr-minh-xl-50 {
            min-height: 50vh!important;
        }
        .gr-minh-xl-35 {
            min-height: 35vh!important;
        }
        .gr-minh-xl-25 {
            min-height: 25vh!important;
        }
    }