/**********************************************
Random
**********************************************/
/*
A kind of reset
*/


.body {
    padding-top: 86px;
    z-index: 1;
}

ul{
    list-style-type: none;
}

/*PC*/


  .btn-close {
    background: none !important;
    opacity: 1 !important;
}

.img-full{
  max-height: 80vh; 
  min-width: 100vw;
}

.img-thumbnail{
  max-height: 20vh; 
  min-width: 10vw;
}
.carousel-loading {
  opacity: 0;
  transition: opacity 0.15s ease-out;
}
.carousel-ready {
  opacity: 1;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
