<div class="row px-2 py-4">
    <div class="col-10 g-0 pb-3 card">
        <div class="card-header">
            <p class="mb-0"><img src="/img/logo.png" alt="..." height="18" class="my-auto">&nbsp; &nbsp;<span
                    class="text-primary">{{.Inner}}</span></p>
        </div>
        <div class="card-body">
            <div class="container p-4 my-0">
                <div class="row">
                    <div class="col col-lg-8">
                        <figure class="z-depth-2">
                            <img src="/img/{{.Get `imageURL`}}/desktop-{{.Get `imageURL`}}-{{.Page.Params.language}}.png"
                                width="100%" />
                            <figcaption class="bg-white text-primary text-center p-2">Desktop
                                <button type="button" class="btn btn-primary m-3" data-bs-toggle="modal"
                                    data-bs-target="#screenshotModal">
                                    View
                                </button>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col col-lg-4">
                        <figure class="z-depth-2">
                            <img src="/img/{{.Get `imageURL`}}/mobile-{{.Get `imageURL`}}-{{.Page.Params.language}}.png"
                                width="100%" />
                            <figcaption class="bg-white text-primary text-center p-2">Mobile
                                <button type="button" class="btn btn-primary m-3" data-bs-toggle="modal"
                                    data-bs-target="#mobileScreenshotModal">
                                    View
                                </button>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="screenshotModal" tabindex="-1" aria-labelledby="screenshotModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content rounded container">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <figure>
                    <img src="/img/{{.Get `imageURL`}}/desktop-{{.Get `imageURL`}}-{{.Page.Params.language}}.png"
                        width="100%" />
                    <figcaption class="bg-dark text-light text-center p-2">{{.Inner}}</figcaption>
                </figure>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="mobileScreenshotModal" tabindex="-1" aria-labelledby="mobileScreenshotModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content rounded container">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <figure>
                    <img src="/img/{{.Get `imageURL`}}/mobile-{{.Get `imageURL`}}-{{.Page.Params.language}}.png"
                        width="100%" />
                    <figcaption class="bg-dark text-light text-center p-2">{{.Inner}}</figcaption>
                </figure>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>