<div class="filtershadow">
    <div class="container-fluid py-3">
        <div id="footer" class="container">
            <div class="text-primary row py-4">
                <div class='col'>
                    <p>
                        All images © Nathalie Palette Couleurs. All rights reserved.
                        Please do not use without written permission.
                    </p>
                    <p>

                        Toutes les images © Nathalie Palette Couleurs.. Tous droits réservés.
                        Ne pas utiliser sans autorisation écrite.

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Application scripts -->
<script type="module" src="/js/main.js"></script>