<head>
  <!-- Character encoding and viewport (keep these first) -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Primary meta tags -->
  <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}Improvement Log</title>
  <meta name="description"
    content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Params.description}}{{end}}">

  <!-- Security headers -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'self' https:; script-src 'self' https: 'unsafe-inline' 'unsafe-eval'; style-src 'self' https: 'unsafe-inline';">
  <meta http-equiv="Permissions-Policy" content="interest-cohort=(), geolocation=(), microphone=(), camera=()">

  <!-- Open Graph / Social Media Meta Tags -->
  <meta property="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}">
  <meta property="og:title" content="{{ if .IsHome }}Improvement Log{{ else }}{{ .Title }} | Improvement Log{{ end }}">
  <meta property="og:description"
    content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Params.description}}{{end}}">
  <meta property="og:url" content="{{ .Permalink }}">

  <!-- Icons -->
  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="manifest" href="/site.webmanifest">

  <!-- Preconnect to external domains -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>

  <!-- Preload critical fonts -->
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" as="style">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Raleway&display=swap" as="style">

  <!-- Styles -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons&display=block">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.0.2/css/glide.core.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.0.2/css/glide.theme.css">



  <!-- Critical CSS -->
  {{ $styles := resources.Get "scss/styles.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}">

  <!-- Cookie consent (defer loading) -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" media="print"
    onload="this.media='all'">

  <!-- Theme color for mobile browsers -->
  <meta name="theme-color" content="#ffffff">

  <!-- Third-party libraries -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
</head>