/**********************************************
Random
**********************************************/
/*
A kind of reset
*/


.body {
  padding-top: 86px;
  z-index: 1;
}

ul {
  list-style-type: none;
}

/*PC*/

.btn-close {
  background: none !important;
  opacity: 1 !important;
}

.carousel-loading {
  opacity: 0;
  transition: opacity 0.15s ease-out;
}

.carousel-ready {
  opacity: 1;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-inner {
  background-color: #fff;
  /* Or any color you prefer for the empty space */
  height: 80vh;
  /* Takes up 90% of the viewport height */
}

.carousel-item {
  height: 100%;
  text-align: center;
}

.carousel-item img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  margin: auto;
  object-fit: contain;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.thumbnail-container {
  aspect-ratio: 1;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.thumbnail-container img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
