{{ define "main" }}
{{partial "pagewrapper/navbar" .}}
<!-- Button trigger modal -->
<div class="container">
    <div class="row">


        {{ $dirPath := printf "themes/ninja/static/img/%s" $.Title }}
        {{ range $index, $image := (readDir $dirPath) }}
        {{ if (findRE "\\.(jpg|jpeg|png|gif)$" .Name 1) }}
        {{ partial "widgets/img-thumb.html" (dict
        "name" .Name
        "path" "/img/"
        "index" $index
        "title" $.Title
        ) }}
        {{ end }}
        {{ end }}


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                {{ $dirPath := printf "themes/ninja/static/img/%s" $.Title }}
                                {{ range $index, $image := (readDir $dirPath) }}
                                {{ if (findRE "\\.(jpg|jpeg|png|gif)$" .Name 1) }}
                                {{ partial "widgets/img-carousel-indicator.html" (dict
                                "index" $index
                                "isFirst" (eq $index 0)
                                ) }}
                                {{ end }}
                                {{ end }}
                            </div>
                            <div class="carousel-inner">
                                {{ $dirPath := printf "themes/ninja/static/img/%s" $.Title }}
                                <!-- Debug: Print total number of images -->
                                {{ $images := readDir $dirPath }}
                                {{ range $index, $image := $images }}
                                {{ if (findRE "\\.(jpg|jpeg|png|gif)$" .Name 1) }}
                                {{ partial "widgets/img-carousel.html" (dict
                                "name" .Name
                                "path" "/img/"
                                "isFirst" (eq $index 0)
                                "index" $index
                                "title" $.Title
                                ) }}
                                {{ end }}
                                {{ end }}
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <img src="/img/chevron-left.svg" alt="" width="100" height="100" aria-hidden="true">
                                <span class="visually-hidden">Previous</span>
                            </button>

                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <img src="/img/chevron-right.svg" alt="" width="100" height="100" aria-hidden="true">
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {
            keyboard: true,
            backdrop: true
        });

        // Handle thumbnail clicks
        document.querySelectorAll('[data-bs-toggle="modal"]').forEach(thumbnail => {
            thumbnail.addEventListener('click', function () {
                const slideIndex = this.getAttribute('data-bs-slide-to');
                const carousel = document.getElementById('carouselExampleIndicators');
                const carouselInstance = new bootstrap.Carousel(carousel);
                carouselInstance.to(slideIndex);
                myModal.show();
            });
        });
    });
</script>

{{ partial "pagewrapper/footer" . }}
{{ end }}