{{ define "main" }}
{{partial "pagewrapper/navbar" .}}



<div class="container-fluid gr-minh-50 h-100 d-flex align-items-center bg-white py-5" id="pricingStrap">
    <div class="container text-black my-5 text-center">
        <div class="price-switches row">
            <div class="col-12 pb-5">
                <div class="period-switch">
                    <div class="btn p-0" id="month">
                        <input type="radio" name="switch-name" id="switch-1" value="monthly">
                        <label class="p-2" for="switch-1">Monthly</label>
                    </div>
                    <div class="btn p-0" id="year">
                        <input type="radio" name="switch-name" id="switch-2" value="yearly">
                        <label class="p-2" for="switch-2">Yearly</label>
                    </div>
                </div>
            </div>
            <div class="col-12 pb-5">
                <div class="currency-switch">
                    <div class="btn p-0" id="dollars">
                        <input type="radio" name="currency-switch-name" id="currency-switch-1" value="dollars">
                        <label class="p-2" for="currency-switch-1">$ US dollars</label>
                        <div aria-hidden="true" class="radio-switch__marker"></div>
                    </div>
                    <div class="btn p-0" id="euros">
                        <input type="radio" name="currency-switch-name" id="currency-switch-2" value="euros">
                        <label class="p-2" for="currency-switch-2">€ Euros</label>
                        <div aria-hidden="true" class="radio-switch__marker"></div>
                    </div>

                    <div class="btn p-0" id="gbp">
                        <input type="radio" name="currency-switch-name" id="currency-switch-3" value="gbp">
                        <label class="p-2" for="currency-switch-3">£ GB pounds</label>
                        <div aria-hidden="true" class="radio-switch__marker"></div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 pb-5">
                <p class="fs-4 mb-2">Starter</p>
                <div class="price-wrapper">
                    <div class="currency-wrapper text-primary" data-currency="dollar">
                        <h2 class="price price-month">$24 {{i18n "pricing-month"}}</h2>
                        <h2 class="price price-year">$20 {{i18n "pricing-month"}}</h2>
                    </div>
                    <div class="currency-wrapper text-primary" d data-currency="euro">
                        <h2 class="price price-month">€23 {{i18n "pricing-month"}}</h2>
                        <h2 class="price price-year">€20 {{i18n "pricing-month"}}</h2>
                    </div>
                    <div class="currency-wrapper text-primary" d data-currency="gbp">
                        <h2 class="price price-month">£20 {{i18n "pricing-month"}}</h2>
                        <h2 class="price price-year">£17 {{i18n "pricing-month"}}</h2>
                    </div>
                </div>
                <p>30 {{i18n "pricing-for"}} </p>
                <p>1 {{i18n "organization"}}</p>
                {{partial "widgets/freetrialbutton" (dict "button" "light" "text" "primary" "lang" (i18n "language") "buttonText" (i18n "free-trial")) .}}
            </div>
            <div class="col-xl-4 pb-5">
                <p class="fs-4 mb-2">Professional</p>
                <div class="price-wrapper">
                    <div class="currency-wrapper text-primary" d data-currency="dollar" data-transition="2nd">
                        <h2 class="price price-month">$100 {{i18n "pricing-month"}}</h2>
                        <h2 class="price price-year" data-transition="2nd">$85 {{i18n
                            "pricing-month"}}
                        </h2>
                    </div>
                    <div class="currency-wrapper text-primary" d data-currency="euro" data-transition="2nd">
                        <h2 class="price price-month">€100 {{i18n "pricing-month"}}</h2>
                        <h2 class="price price-year" data-transition="2nd">€85 {{i18n
                            "pricing-month"}}
                        </h2>
                    </div>
                    <div class="currency-wrapper text-primary" d data-currency="gbp" data-transition="2nd">
                        <h2 class="price price-month">£85 {{i18n "pricing-month"}}</h2>
                        <h2 class="price price-year" data-transition="2nd">£70 {{i18n
                            "pricing-month"}}
                        </h2>
                    </div>
                </div>
                <p>200 {{i18n "pricing-for"}}</p>
                <p>1 {{i18n "organization"}}</p>
                {{partial "widgets/freetrialbutton" (dict "button" "light" "text" "primary" "lang" (i18n "language") "buttonText" (i18n "free-trial")) .}}
            </div>
            <div class="col-xl-4 pb-5">
                <p class="fs-4 mb-2">Enterprise</p>
                <div class="price-wrapper">
                    <div class="currency-wrapper text-primary" d data-currency="dollar" data-transition="3rd">
                        <h2 class="price price-month">$240 {{i18n "pricing-month"}}</h2>
                        <h2 class="price price-year" data-transition="3rd">$200 {{i18n
                            "pricing-month"}}</h2>
                    </div>
                    <div class="currency-wrapper text-primary" d data-currency="euro" data-transition="3rd">
                        <h2 class="price price-month">€240 {{i18n "pricing-month"}}</h2>
                        <h2 class="price price-year" data-transition="3rd">€200 {{i18n
                            "pricing-month"}}</h2>
                    </div>
                    <div class="currency-wrapper text-primary" d data-currency="gbp" data-transition="3rd">
                        <h2 class="price price-month">£200 {{i18n "pricing-month"}}</h2>
                        <h2 class="price price-year" data-transition="3rd">£170 {{i18n
                            "pricing-month"}}</h2>
                    </div>
                </div>
                <p>{{i18n "pricing-unlimited"}}</p>
                <p>1 {{i18n "organization"}}</p>
                {{partial "widgets/freetrialbutton" (dict "button" "light" "text" "primary" "lang" (i18n "language") "buttonText" (i18n "free-trial")) .}}
            </div>
        </div>
    </div>
</div>


<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col text-center py-5">
                {{.Content}}

            </div>
        </div>
    </div>
</section></div>
{{ partial "pagewrapper/footer" .}}
{{ end }}