{{ define "main" }}
{{partial "pagewrapper/navbar" .}}

<section class="bg-success container-fluid">
   <section class="container supportPage py-5">
      {{partial "support/supportHeader" .}}
      <div class="row pt-5">
         {{partial "support/menu" .}}
         <div class="col-12 col-xl-10 order-1 order-xl-2 container-fluid supportMainWindow">
            <div class="row mb-5">
               <div class="col-12">
                  {{.Content}}
               </div>
            </div>
            <div class="row mb-5">
               {{ $filePath := .File.Path }}
               {{ $cleanPath := replace (replace $filePath "\\_index.md" "") "\\" "/" }}
               {{ range (site.GetPage $cleanPath).Pages }}
               <div class="col-12 col-xl-6">

                     <div class="card bg-white mb-3">
                        <div class="card-body">
                           <h5>{{ .Title }}</h5>
                           {{ if .Params.snippet }}
                           <p>{{ .Params.snippet}}</p>
                           <a href="{{.RelPermalink}}" class="small stretched-link">Read More...</a>
                           {{ end }}
                        </div>
                     </div>
              
               </div>
               {{ end }}
            </div>
         </div>
      </div>
      </div>
   </section>
</section>
{{ partial "pagewrapper/footer" . }}
{{ end }}